extends ../layouts/name

block content
	
	.name-add

		form(method ='post' ,	action ='' enctype ='application/x-www-form-urlencoded')
			.form-group
				label(for ='name') Name * :
				input(type ='text' id ='name' name ='name' class ='form-control form-control-sm' placeholder ='David' required ='true' value =(undefined === name ? '' : name.name))

			.form-group
				label(for ='definition') Definition * :
				textarea(id ='definition' name ='definition' required ='true' class ='form-control form-control-sm' ) #{(undefined === name ? '' : name.definition)}

			.form-group
				label(for ='morphology') Morphology * :
				textarea(id ='morphology' name ='morphology' required ='true' class ='form-control form-control-sm' ) #{(undefined === name ? '' : name.morphology)}

			.form-group
				label(for ='gloss') Gloss * :
				textarea(id ='gloss' name ='gloss' required ='true' class ='form-control form-control-sm' ) #{(undefined === name ? '' : name.gloss)}

			.form-group
				label(for ='alphabet') Alphabet * :
				select(id ='alphabet' name ='alphabet' class ='form-control form-control-sm' )
					option(value ='') 
					for letter in alphabet
						if name
							option(value =letter._id selected =(letter._id.toString() == name.alphabet._id || letter._id.toString() == name.alphabet) ? 'selected' : false) #{letter.alphabet}
						else
							option(value=letter._id) #{letter.alphabet}

			.form-group
				label(for ='ethnic_group') Ethnic Group * :
				select(id ='ethnic_group' name ='ethnic_group' class ='form-control form-control-sm' )
					option(value ='') 
					for people in eyon
						if photo
							option(value =people._id class ='form-control'  selected =(people._id.toString() == photo.ethnic_group._id || people._id.toString() == photo.ethnic_group) ? 'selected' : false) #{people.eyon}
						else
							option(value=people._id) #{people.eyon}

			.form-group
				label(for ='gender') Gender * :
				select(id ='gender' name ='gender' class ='form-control form-control-sm' )
					option(value ='') 
					for type in gender
						if name
							option(value =type._id class ='form-control'  selected =(type._id.toString() == name.gender._id || type._id.toString() == name.gender) ? 'selected' : false) #{type.gender}
						else
							option(value=type._id) #{type.gender}

			.form-group
				label(for ='specie') Specie * :
				select(id ='specie' name ='specie' class ='form-control form-control-sm' )
					option(value ='') 
					for type in specie
						if name
							option(value =type._id class ='form-control'  selected =(type._id.toString() == name.specie._id || type._id.toString() == name.specie) ? 'selected' : false) #{type.specie}
						else
							option(value=type._id) #{type.specie}

			.form-group.baby
				label(for ='baby') Baby * :
				select(id ='baby' name ='baby' class ='form-control form-control-sm' )
					option(value ='') 
					for decision in baby
						if name
							option(value =decision._id class ='form-control'  selected =(decision._id.toString() == name.baby._id || decision._id.toString() == name.baby) ? 'selected' : false) #{decision.baby}
						else
							option(value=decision._id) #{decision.baby}

			.form-group.image
				label(for ='name') Image * :
				input(type ='file' id ='image' name ='photo' class ='form-control form-control-sm' accept ='image/*')

			p
				button(type ='submit' title ='Submit' class ='btn btn-primary float-right px-4') Submit
