extends ../layouts/photo

block content
	
	.photo-add
	
		if errors
			p Errors found trying to process form. These include : -
			ul.alert.alert-danger
				for error in errors
					li!= error.msg

		form(method ='post' ,	action ='' enctype ='multipart/form-data')
			.form-group
				label(for ='title') Title * :
				input(type ='text' id ='title' name ='title' class ='form-control form-control-sm' placeholder ='Plato with Socrates' required ='true' value =(undefined === photo ? '' : photo.title))

			.form-group
				label(for ='date') Date * :
				input(type ='text' id ='date' name ='date' class ='form-control form-control-sm' placeholder ='1900' required ='true' value =(undefined === photo ? '' : photo.date))

			.form-group
				label(for ='century') Period * :
				select(id ='century' name ='century' class ='form-control form-control-sm' required ='true')
					option(value ='')
					for period in century
						if photo
							option(value =period._id selected =(period._id.toString() == photo.century._id || period._id.toString() == photo.century) ? 'selected' : false) #{period.century} Century
						else
							option(value=period._id) #{period.century}

			.form-group
				label(for ='genre') Category * :
				select(id ='genre' name ='genre' class ='form-control form-control-sm' required ='true')
					option(value ='')
					for category in genre
						if photo
							option(value =category._id selected =(category._id.toString() == photo.genre._id || category._id.toString() == photo.genre) ? 'selected' : false) #{category.genre}
						else
							option(value=category._id) #{category.genre}

			.form-group
				label(for ='country') Country * :
				select(id ='country' name ='country' class ='form-control form-control-sm' required ='true')
					option(value ='')
					for nation in country
						if photo
							option(value =nation._id selected =(nation._id.toString() == photo.country._id || nation._id.toString() == photo.country) ? 'selected' : false) #{nation.name}
						else
							option(value=nation._id) #{nation.name}

			.form-group
				label(for ='continent') Continent * :
				select(id ='continent' name ='continent' class ='form-control form-control-sm' required ='true')
					option(value ='')
					for location in continent
						if photo
							option(value =location._id selected =(location._id.toString() == photo.continent._id || location._id.toString() == photo.continent) ? 'selected' : false) #{location.name}
						else
							option(value=location._id) #{location.name}

			.form-group
				label(for ='region') Region * :
				select(id ='region' name ='region' class ='form-control form-control-sm' required ='true')
					option(value ='')
					for subregion in region
						if photo
							option(value =subregion._id selected =(subregion._id.toString() == photo.region._id || subregion._id.toString() == photo.region) ? 'selected' : false) #{subregion.name}
						else
							option(value=subregion._id) #{subregion.name}

			.form-group
				label(for ='ethnic_group') Ethnic Group * :
				select(id ='ethnic_group' name ='ethnic_group' class ='form-control form-control-sm' required ='true')
					option(value ='') 
					for people in eyon
						if photo
							option(value =people._id selected =(people._id.toString() == photo.ethnic_group._id || people._id.toString() == photo.ethnic_group) ? 'selected' : false) #{people.eyon}
						else
							option(value=people._id) #{people.eyon}

			.form-group
				label(for ='artist') Artist or Author :
				input(type ='text' id ='artist' name ='artist' class ='form-control form-control-sm' placeholder ='Donatello' value =(undefined === photo ? '' : photo.artist))

			.form-group
				label(for ='findspot') Findspot :
				input(type ='text' id ='findspot' name ='findspot' class ='form-control form-control-sm' placeholder ='Benin' value =(undefined === photo ? '' : photo.findspot))

			.form-group
				label(for ='medium') Medium :
				input(type ='text' id ='medium' name ='medium' class ='form-control form-control-sm' placeholder ='Brass and Wood' value =(undefined === photo ? '' : photo.medium))

			.form-group
				label(for ='credit') Credits :
				input(type ='text' id ='credit' name ='credit' class ='form-control form-control-sm' placeholder ='Elliot Photography' value =(undefined === photo ? '' : photo.credit))

			.form-group
				label(for ='about') About Photo * :
				textarea(id ='about' name ='about' required ='true' class ='form-control form-control-sm') #{(undefined === photo ? '' : photo.about)}

			.form-group
				label(for ='dimension') Dimension :
				textarea(id ='dimension' name ='dimension' class ='form-control form-control-sm') #{(undefined === photo ? '' : photo.dimension)}

			.form-group.image
				label(for ='photo') Image * :
				input(type ='file' id ='photo' required ='true' name ='photo' class ='form-control form-control-sm' accept ='image/*')

			p
				button(type ='submit' title ='Submit' class ='btn btn-primary float-right px-4') Submit
