extends layout

block content
		p #{error.message}
		if (error.status == 404) && error.data.status.message
			p #{error.status} - #{error.data.status.message}

		else if (error.status == 404) && !(error.data.status.message) 
			p #{error.status} - The page you are looking for does not exist.
			
		else
			p #{error.status} - Internal Server Error Occured.